---
import { getEntry } from 'astro:content';
import ProjectCard from './ProjectCard.astro';

const projects = (await getEntry('projects', 'projects')).data.projects;
---

<div class="flex flex-col justify-center items-center" id="projects">
    <h2
        class="font-bold text-3xl mb-10 font-JetBrains text-ctp-red"
        data-aos="fade-up"
    >
        &lt;
        <span class="text-ctp-text">Projects</span>
        /&gt;
    </h2>

    <div class="flex flex-col justify-center items-center">
        {
            projects.map((project, index) => (
                <ProjectCard {...project} index={index} />
            ))
        }
    </div>
</div>
