{
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "plugins": ["prettier-plugin-astro"]
}
