@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-ctp-mantle text-white overflow-x-hidden;
    }

    p {
        @apply text-ctp-text font-JetBrains;
    }

    b,
    strong {
        @apply font-extrabold text-ctp-mauve;
    }

    // Scroll bar
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-ctp-base;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-ctp-surface1 hover:bg-ctp-mauve;
        border-radius: 10px;
    }
}

@layer utilities {
    .prose {
        @apply font-JetBrains;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mb-5 font-semibold tracking-wide;

            a {
                @apply text-ctp-peach;
            }
        }

        ul {
            list-style: square;
        }

        p {
            @apply mb-3;
        }

        h1 {
            @apply md:text-4xl text-2xl;
        }

        h2 {
            @apply md:text-3xl text-xl;
        }

        h3 {
            @apply md:text-2xl text-lg;
        }

        h4 {
            @apply md:text-xl text-lg;
        }

        h5 {
            @apply md:text-lg text-base;
        }

        h6 {
            @apply md:text-base text-xs;
        }

        pre {
            @apply my-7 bg-ctp-crust;

            code {
                @apply whitespace-pre;
            }
        }

        a {
            @apply text-ctp-sapphire underline inline;
        }
    }
}
