@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Hack';
        font-weight: 500;
        src: url('../fonts/Hack.ttf');
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-ctp-mantle text-white overflow-x-hidden;
    }

    p {
        @apply text-ctp-text font-Hack;
    }

    // Scroll bar
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-ctp-base;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-ctp-surface1 hover:bg-ctp-mauve;
        border-radius: 10px;
    }
}

@layer utilities {
    .prose {
        @apply font-Hack;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mb-5 font-semibold tracking-wide;

            a {
                @apply text-ctp-peach;
            }
        }

        p {
            @apply mb-3;
        }

        h1 {
            @apply text-4xl;
        }

        h2 {
            @apply text-3xl;
        }

        h3 {
            @apply text-2xl;
        }

        h4 {
            @apply text-xl;
        }

        h5 {
            @apply text-lg;
        }

        h6 {
            @apply text-base;
        }

        pre {
            @apply my-7 bg-ctp-crust;

            code {
                @apply whitespace-pre;
            }
        }

        a {
            @apply text-ctp-sapphire underline inline;
        }
    }
}
