---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import notFound from '../assets/404.png';
---

<Layout title="404 Not found">
    <div
        class="flex flex-col-reverse lg:flex-row items-center justify-start lg:justify-between w-full min-h-screen absolute top-0 left-0 px-5 md:px-0 pt-24 lg:pl-20"
    >
        <div class="lg:w-1/2 lg:pb-0 pb-10">
            <h1 class="text-5xl text-ctp-peach font-semibold mb-3">Opps!</h1>
            <h2 class="text-3xl text-ctp-green font-semibold mb-7">
                We couldn&apos;t find that page.
            </h2>
            <h4 class="text-lg mb-6">
                Maybe you can find what you need here ?
            </h4>
            <div>
                <a href="/">
                    <span
                        class="py-2 px-5 rounded-full bg-ctp-surface0 cursor-pointer hover:bg-ctp-blue transition-all duration-150 mr-5"
                    >
                        Home
                    </span>
                </a>
                <a href="/blogs">
                    <span
                        class="py-2 px-5 rounded-full bg-ctp-surface0 cursor-pointer hover:bg-ctp-blue transition-all duration-150 mr-5"
                    >
                        Blogs
                    </span>
                </a>
            </div>
        </div>

        <div class="lg:w-1/2 pb-5 lg:pb-0">
            <Image src={notFound} alt="404" />
        </div>
    </div>
</Layout>
