---
import '@fontsource-variable/jetbrains-mono';
import '../styles/globals.scss';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
export interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        {/* Viewport */}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />

        {/* Description */}
        <meta
            name="description"
            content="Passionate ðŸŒ Full Stack Web Developer pursuing B.Tech in ðŸ¤– AI & Machine Learning at ðŸŽ“ Vivekanand Institute. Dedicated to evolving skills, ðŸ§ Linux enthusiast, and open-source advocate."
        />

        <!-- Author -->
        <meta name="author" content="Naman Arora" />
        <meta property="og:site_name" content="Naman Arora" />
        <meta property="og:title" content="Naman Arora" />

        {/* Keywords */}
        <meta
            name="keywords"
            content="Naman, Arora, Web Developer, Website, Portfolio,
        Programming,
        Web Development,
        Software Development,
        Front-end Development,
        Back-end Development,
        Full Stack Development,
        Responsive Design,
        User Experience (UX),
        HTML5,
        CSS3,
        JavaScript,
        Python,
        Node.js,
        React,
        Express.js,
        Database Management,
        SQL,
        MongoDB,
        RESTful APIs,
        GraphQL,
        Git,
        Version Control,
        Deployment,
        Cloud Computing,
        Testing and Debugging,
        Agile Development,
        Problem Solving,
        Object-Oriented Programming (OOP),
        Data Structures,
        Algorithms,
        Transforming ideas into functional websites,
        Crafting intuitive user experiences with clean code,
        Building dynamic and responsive web applications,
        Creating seamless front-end designs with HTML, CSS, and JavaScript,
        Developing scalable and robust back-end solutions,
        Full-stack developer proficient in multiple programming languages,
        Leveraging cutting-edge technologies to deliver innovative solutions,
        Passionate about delivering high-quality software solutions,
        Bringing ideas to life through elegant and efficient code,
        Problem-solving through logical thinking and creative coding,
        Meticulous attention to detail in every line of code,
        Collaborating in agile development environments for rapid iteration,
        Implementing RESTful APIs for seamless data integration,
        Expertise in database management and optimization,
        Deploying applications to the cloud for scalable and reliable performance,
        Embracing version control for efficient collaboration and code management,
        Continuous learning and staying up-to-date with the latest industry trends,
        Thriving in fast-paced and challenging coding environments,
        Delivering projects on time and exceeding client expectations,
        Enthusiastic about tackling complex algorithms and data structures,
        Feel free to customize and use these phrases to showcase your skills experience, and passion for coding in your portfolio website.,           
        "
        />

        {/* Index by website pages */}
        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />

        <!-- Sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />

        {/* Favicon */}
        <link rel="icon" type="image/png" href="/favicon.png" />

        <!-- Title -->
        <title>{title ? `${title} | Naman Arora` : 'Naman Arora'}</title>

        <ViewTransitions />

        <slot name="head" />
    </head>
    <body>
        <Header />
        <main
            class="pt-32 mx-5 lg:mx-20 min-h-screen flex flex-col items-start"
        >
            <slot />
        </main>
        <Footer />
    </body><script>
        import AOS from 'aos';
        import 'aos/dist/aos.css';

        document.addEventListener('DOMContentLoaded', () => {
            AOS.init({ once: true });
        });
    </script>
</html>
